<h1>Time tracking tool</h1>

<h2>Projects</h2>

<ul>
	<% @projects.each do |project| %>
	<li> 
		<%= link_to "#{project.name}", "/projects/#{project.id}" %>
			<% if project.description %> 
			- <%= project.description %>
			<% end %>
	</li>
	<% end %>

</ul>

<%= link_to "new project", "/projects/new" %>