<h1>Welcom to this timetracking tool</h1>

<!-- <a href="/calculator">calculator</a><br>
 -->

 <%= link_to "Calculator", "/calculator" %> <br>


<img src="/assets/DG.gif" alt="Kid" class="image">
<%= image_tag "DG.gif", alt: 'DG', class: 'image' %>

	<br>

<a href="/contact">contact</a>

<p>Ironhack powered</p>